.hg
.hgignore
*.o
*.cmi
*.cmo
*~
keiko/obx-t.a
keiko/pplink
keiko/ppx
lab1/a.k
lab1/a.test
lab1/a.x
lab1/lexer.ml
lab1/parser.ml
lab1/parser.mli
lab1/parser.output
lab1/ppc
lab2/a.k
lab2/a.test
lab2/a.x
lab2/lexer.ml
lab2/parser.ml
lab2/parser.mli
lab2/ppc
lab3/a.k
lab3/a.test
lab3/a.x
lab3/lexer.ml
lab3/parser.ml
lab3/parser.mli
lab3/ppc
lab4/b.out
lab4/b.s
lab4/b.test
lab4/lexer.ml
lab4/parser.ml
lab4/parser.mli
lab4/parser.output
lab4/ppc
lib/common.cma
ppc/a.k
ppc/a.test
ppc/a.x
ppc/lexer.ml
ppc/parser.ml
ppc/parser.mli
ppc/parser.output
ppc/ppc
tools/nclex.ml
tools/ncparse.ml
tools/ncparse.mli
tools/ncparse.output
tools/nodexp
tools/guest_rsa
tools/pibake
tools/sshconfig
